.home-header-bar1 {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 60px;
    background: linear-gradient(to right, #479EA6, #33739B);
}


.text-header-hello1 {

    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: white;
    z-index: 2;
    height: 100%;

    position: absolute;
    width: 100%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    margin: 0;
    font-size: 17px;
    font-family: "San Francisco Pro", "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
}