.home-header-bar1 {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 110px;
    background: linear-gradient(to right, #479EA6, #33739B);
}


.text-header-hello1 {
    font-style: normal;
    font-weight: 450;
    font-size: 30px;
    text-align: center;
    font-family: "San Francisco Pro", "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
    color: #FFFFFF;
    position: absolute;
    padding-left: 10px;
    top: 25px;
    left: 20px;
    z-index: 2;
}

.text-header-date1 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    font-family: "San Francisco Pro", "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
    color: #FFFFFF;
    position: absolute;
    padding-left: 10px;
    top: 10px;
    left: 20px;
    z-index: 2;
    letter-spacing: 0.1px;
}
