.home-header-bar {
    position: relative;
}

.homepage-header-img {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: static;
    width: 100%;
    height: 100px;
}

.text-header-hello {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
