html, body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(#8284FF, #4849A6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    transition: all 0.2s;
    z-index: 1;
}

a:hover,
a:focus {
    color: #fdc654;
    transition: all 0.2s;
    z-index: 1;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.login-card {
    padding: 32px 0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    display: flex;
    height: 100%;
    max-height: 740px;
    max-width: 350px;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.login-card-content {
    flex-grow: 2;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.login-card-footer {
    padding: 32px 0;
    z-index: 1;
}

h2 .highlight {
    color: #fdc654;
    z-index: 1;
}

h2 {
    font-size: 32px;
    margin: 0;
    z-index: 1;
}

h3 {
    color: #4849A6;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    z-index: 1;
}

.header {
    margin-bottom: 50px;
    z-index: 1;
}

.logo {
    border-radius: 40px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto 16px;
    align-items: center;
    z-index: 2;
    font-size: 70px;
}

button {
    background: white;
    display: block;
    color: #4849A6;
    width: 100%;
    border: none;
    border-radius: 40px;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 32px;
    outline: none;
    z-index: 1;
}

.form-field {
    margin-bottom: 16px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.form-field .icon {
    position: absolute;
    background: white;
    color: #4849A6;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 40px;
    justify-content: center;
    border-radius: 20px;
    z-index: 1;
}

.form-field .icon:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left: 12px solid white;
    position: absolute;
    top: 8px;
    right: -20px;
    z-index: 1;
}

.form-field input {
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 100%;
    border-radius: 16px;
    height: 36px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    transition: all 0.2s;
    z-index: 1;
    font-size: 15px;
}

.form-field input::placeholder {
    color: white;
    z-index: 1;
}

.form-field input:hover,
.form-field input:focus {
    background: white;
    color: #4849A6;
    transition: all 0.2s;
    z-index: 1;
}

.form-field input:hover::placeholder {
    color: #4849A6;
}

.dot-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.auth-info {
    color: white;
    font-size: 27px;
    font-weight: lighter;
}