.vertical-timeline-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.subtopic-header-img {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: static;
}


@media only screen and (max-width: 1169px) {
    .subtopic-body {
        height: 100%;
    }

    .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
        visibility: visible;
        animation: timeline-slide 0.6s;
    }
}

@keyframes timeline-slide {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    60% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.subtopicButtonAdd {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 10;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: white;
    border: none;
    padding-top: 6px;
}

.subtopicButtonDel {
    position: fixed;
    bottom: 40px;
    left: 20px;
    z-index: 10;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 5px;
}

.subtopicButtonDel-active {
    position: fixed;
    bottom: 40px;
    left: 20px;
    z-index: 10;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background: rgba(255, 64, 64, 0.5);
    border-radius: 50%;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 5px;
}